# Docker Environment Variables
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# API Environment Variables
PORT=
DB_HOST=

#jwt
JWT_SECRET=

#node
NODE_ENV=

#mongo db
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URL=